ul li a.activeLi {
    color:white;
    background-color: #0D47A1;
}

ul li a.activeLi i.material-icons {
    color:white;
    background-color: #0D47A1;
}

ul li a i.material-icons.left {
    margin-right: 15px;
}

ul li a.activeLi:hover {
    color:#0D47A1;
    background-color: #cccccc;
}

ul li a.activeLi:hover i.material-icons {
    color:#0D47A1;
    background-color: #cccccc;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

header, main, footer {
    padding-left: 260px;
}
    
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

tr {
    border-bottom: 2px solid rgba(0,0,0,1);
}

.parallax-container {
    min-height: 100%;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
.parallax-container .section {
    width: 100%;
}

.bg {
    background-image: url("../imgs/aisle-beverages-bottles-811108.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dropdown-content li > span {
    color: black !important;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.alert.warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.subheader {
    font-size:1.64em !important;
}

.sidenav {
    width: 260px;
}

.divider {
    background-color: black;
}